* {
    padding: 0px;
    margin: 0px;
}
#game {
    width: 400px;
    height: 300px;
}
#healthBarBorder {
    width: 200px;
    height: 50px;
    position: relative;
    top: 80px;
    left: 100px;
    border: 4px solid black;
}
#healthBarRed {
    width: 205px;
    height: 55px;
    position: relative;
    top: 190px;
    left: 100px;
    background-color: red;
}
#healthBarColor {
    width: 205px;
    height: 55px;
    position: relative;
    top: 135px;
    left: 100px;
    background-color: green;
}
#player {
    width: 40px;
    height: 40px;
    position: relative;
    top: 160px;
    left: 180px;
    background-color: #f57842;
}
#projectile {
    background-color: #ff2e12;
    width: 15px;
    height: 20px;
    position: relative;
    top: 180px;
    left: 195px;
}
.project {
    animation: project 0.4s linear;
}
@keyframes project {
    0%{top: 180px}
    100%{top: -60px}
}

#easyTargetL {
    width: 45px;
    height: 10px;
    position: relative;
    top: 55px;
    left: -50px;
    background-color: #79d847;
}
.etl {
    animation: etl 5s linear;
}
@keyframes etl {
    0%{left: -50px}
    100%{left: 430px}
}
#easyTargetR {
    width: 45px;
    height: 10px;
    position: relative;
    top: 50px;
    left: 430px;
    background-color: #797f00;
}
.etr {
    animation: etr 5s linear;
}
@keyframes etr {
    0%{left: 430px}
    100%{left: -50px}
}
#medTargetL {
    width: 30px;
    height: 10px;
    position: relative;
    top: 40px;
    left: -35px;
    background-color: blue;
}
.mtl {
    animation: mtl 3.5s linear;
}
@keyframes mtl {
    0%{left: -50px}
    100%{left: 430px}
}
#medTargetR {
    width: 30px;
    height: 10px;
    position: relative;
    top: 35px;
    left: 430px;
    background-color: green;
}
.mtr {
    animation: mtr 3.5s linear;
}
@keyframes mtr {
    0%{left: 430px}
    100%{left: -50px}
}
#hardTargetL {
    width: 20px;
    height: 10px;
    position: relative;
    top: 10px;
    left: -30px;
    background-color: purple;
}
.htl {
    animation: htl 2.5s linear;
}
@keyframes htl {
    0%{left: -50px}
    100%{left: 430px}
}
#hardTargetR {
    width: 20px;
    height: 10px;
    position: relative;
    top: 20px;
    left: 430px;
    background-color: pink;
}
.htr {
    animation: htr 2.5s linear;
}
@keyframes htr {
    0%{left: 430px}
    100%{left: -50px}
}